* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #cccccc;
  font-family: Helvetica, Arial, sans-serif;
}

header img {
  width: 200px;
  margin: 20px 0 20px 40px;
}

h1 {
  font-size: 50px;
  color: #000000;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  display: inline;
  float: right;
  line-height: 170px;
}

.topnav a {
  color: #000000;
  border-radius: 7px;
  margin: 0 5px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav button {
  padding: 20px;
  background-color: #77ad45;
  margin-right: 20px;
  font-weight: bold;
  color: #000000;
  border: none;
  border-radius: 7px;
}

.topnav button:hover {
  background-color: #000000;
  color: #77ad45;
  border: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 920px) {
  header img {
    align-items: center;
    width: 100px;
  }
  .topnav a {
    display: none;
  }
  .topnav a:hover {
    background-color: #ffffff;
  }
  .topnav a.icon {
    display: inline;
    position: fixed;
    top: -50px;
    right: 10px;
    height: 0;
    padding: 0px;
    z-index: 1;
  }
  .topnav button {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .topnav.responsive {
    position: fixed;
    background-color: #666666;
    z-index: 2;
    border-radius: 7px;
    line-height: 30px;
  }
  .topnav.responsive .icon {
    z-index: 1;
    top: 20px;
    right: 20px;
    width: 10px;
    padding: 0;
    margin: 0;
  }
  .topnav.responsive a {
    display: inline;
    float: left;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    color: #ffffff;
  }
  .topnav.responsive a:hover {
    background-color: #77ad45;
    color: #000000;
  }
  .topnav.responsive button {
    display: inline;
    width: 100%;
    margin: 0 auto;
    align-content: center;
  }
}

footer {
  background: #000;
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  display: inline;
  color: #77ad45;
  font-size: 30px;
  margin: 0;
}

footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #77ad45;
}

section {
  padding: 60px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  background-image: url('/assets/images/Family3.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
}

@media screen and (max-width: 800px) {
  .hero {
    margin: 0px;
    padding: 5px;
  }
  .hero-modal,
  .hero-form {
    flex: 100%;
  }
  .hero-modal {
    margin: 5px;
  }
}

.hero-modal {
  background-color: #77ad45;
  opacity: 90%;
  max-width: 800px;
  border-radius: 9px;
  padding: 20px;
  margin: 0 40px 40px 40px;
  flex: 70%;
}

.hero-modal h3 {
  font-size: 36px;
  color: #666666;
  padding: 10px 0;
}

.hero-modal p {
  color: #000000;
  font-size: 24px;
}

.hero-form {
  background-color: #ccc;
  max-width: 400px;
  opacity: 90%;
  padding: 20px;
  margin: 0 40px;
  color: #000;
  border-radius: 8px;
  flex: 30%;
}

.hero-form p {
  margin: 5px 0 15px 0;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.form-input {
  border: none;
  border-radius: 6px;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #ccc;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color: #77ad45;
  background-color: #000;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 16px;
}
